<div>
  <p>
    <strong>Title:</strong>
    <%= accommodation.title %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= accommodation.address %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= accommodation.category %>
  </p>

    <p>
    <strong>Owner:</strong>
    <%= accommodation.user.name %>
  </p>

</div>
