<div class="container">

  <div id="top-show-container">
    <%= link_to  my_accommodations_accommodations_path do %>
      <i class="fa-sharp fa-solid fa-circle-arrow-left"></i>
    <% end %>
    <h1 class="new-accommodation">Create a new accommodation</h1>
  </div>

  <%= render "form", accommodation: @accommodation %>

</div>
