<div class="container mt-3">
  <%= link_to accommodations_path do %>
    <i class="fa-sharp fa-solid fa-circle-arrow-left"></i>
  <% end %>
  <h1 style="padding: 10px 0 10px 3px;"><%= @accommodation.title  %> </h1>
  <%= render @accommodation %>
</div>
