/* CSS */
#btn-gradient {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  .btn {
    color: #fff;
    text-align: center;
    width: 100%;
  }
}

#btn-gradient:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-btn-gradient 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-btn-gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#btn-gradient:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}




// .box:before {
//   content: "";
//   z-index: -1;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: linear-gradient(-45deg, #ff3d00 0%, #0400ff 100% );
//   transform: translate3d(0px, 20px, 0) scale(0.95);
//   filter: blur(20px);
//   opacity: var(0.7);
//   transition: opacity 0.3s;
//   border-radius: inherit;
// }

// /*
// * Prevents issues when the parent creates a
// * stacking context. (For example, using the transform
// * property )
// */
// .box::after {
//   content: "";
//   z-index: -1;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background: inherit;
//   border-radius: inherit;
// }

// button, input[type="submit"], input[type="reset"] {
// 	background: none;
// 	color: inherit;
// 	border: none;
// 	padding: 0;
// 	font: inherit;
// 	cursor: pointer;
// 	outline: inherit;
// }
