.navbar-lewagon {
  justify-content: space-between;
  background-position: center;
  background: rgb(10,27,68);
  background: linear-gradient(45deg, rgba(10,27,68,1) 33%,  44%, rgba(66,101,165,1) 53%, rgba(170,90,198,1) 61%, rgba(43,49,121,1) 74%, rgba(10,27,68,1) 80%);

  // a {
  //   color: #ffffff;
  // }

  // a:hover {
  //   color: #b2b2b2;
  // }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 50px;
    border-radius: 10%;
  }

  .navbar-text {
    color: #ffffff;
  }

}
